.myPic {
  margin-top: 3%;
  margin-right: 25%;
  /* margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid;
  overflow: hidden;
  position: relative; */
}
/* .MyPic > .profileImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
