/* .card {
  width: 100px;
  height: 150px;
  position: relative;
  display: inline-block;
  margin-right: 50px;
}
.front {
  position: absolute;
  width: 100px;
  height: 150px;
  background: #ccc;
  top: 0;
  left: 0;
}
.back {
  position: absolute;
  width: 100px;
  height: 150px;
  background: #ff0;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
}
.cardRotate .front {
  opacity: 1;
  animation: rotateAni 0.5s 1;
  transform: rotateY(90deg);
}
.cardRotate .back {
  opacity: 1;
  animation: rotateAni2 0.5s 0.5s 1 backwards;
  transform: rotateY(0);
}
.backRotate .front {
  animation: backAni 0.5s 1;
  opacity: 1;
}
.backRotate .back {
  opacity: 0;
}

@keyframes rotateAni {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes rotateAni2 {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes backAni {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
} */
.bg-wrapper {
  height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  margin-right: 4%;
  /* background: #444; */
}
.bg-wrapper .envelope-wrapper {
  background: #b4d2ee;
}
.bg-wrapper .envelope-wrapper .envelope {
  position: relative;
  width: 150px;
  height: 100px;
  right: 50%;
  /* right 추가 */
}
.bg-wrapper .envelope-wrapper .envelope:before {
  content: '';
  position: absolute;
  top: 0px;
  z-index: 2;
  border-top: 55px solid #d3eafd;
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.bg-wrapper .envelope-wrapper .envelope:after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 50px solid transparent;
  border-right: 75px solid #b4d2ee;
  border-bottom: 50px solid #b4d2ee;
  border-left: 75px solid #b4d2ee;
}
.bg-wrapper .envelope-wrapper .envelope .card {
  position: absolute;
  /* right: 20%; */
  left: 70%;
  bottom: 0;
  width: 60%;
  height: 89%;
  background: #fff;
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.bg-wrapper .envelope-wrapper .envelope .card .close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 10px;
  color: rgba(68, 68, 68, 0.7);
  cursor: pointer;
}
.bg-wrapper .envelope-wrapper .envelope .card .text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Great Vibes', cursive;
  color: #c51803;
  transform: translate(-50%, -50%);
}
.bg-wrapper .envelope-wrapper .heart {
  position: relative;
  /* position: absolute; */
  top: -55px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: #c51803;
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.bg-wrapper .envelope-wrapper .heart:before,
.bg-wrapper .envelope-wrapper .heart:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #c51803;
  border-radius: 50%;
}
.bg-wrapper .envelope-wrapper .heart:before {
  top: -7.5px;
}
.bg-wrapper .envelope-wrapper .heart:after {
  right: 7.5px;
}
.bg-wrapper .flap .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
.bg-wrapper .flap .envelope .card {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}
.bg-wrapper .flap .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}
